<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-mg-12" id="con">
                <h1>File upload in angular</h1>
                <p>On file select with validation for JPEG and PNG only.</p>
            </div>
            <br>
            <br>
            <div class="col-md-12" id="upf">
                <form action="#">
                    <input type="file">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
